.navbar {
    background-color: lightseagreen;
}

.navbar .navbar-brand {
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item.active .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-item.dropdown {
    margin-left: auto;
}

.navbar-nav .nav-item.dropdown > .nav-link {
    display: flex;
    align-items: center;
}

.wrap-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uma-div {
    height: 45vh;
    width: 100vw;
    background-color: #393939;
    position: absolute;
}

#login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card.bg-lightseagreen {
    background-color: lightseagreen;
    width: 400px;
    margin-top: 100px;
    margin-bottom: auto;
    box-shadow: 0 5px 13px -4px #acacac;
}

.card.bg-lightseagreen .card-body {
    color: white;
}

.card.bg-lightseagreen .card-body .btn {
    margin-left: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #393939;
    border-color: #393939;
}

.card.bg-lightseagreen .card-body .btn:hover,
.card.bg-lightseagreen .card-body .btn:active,
.card.bg-lightseagreen .card-body .btn:visited,
.card.bg-lightseagreen .card-body .btn:focus {
    background-color: #393939;
    border-color: #393939;
    box-shadow: unset;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cards .card {
    width: 30%;
    margin: 20px;
}

#cards .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil {
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

#perfil > .card {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#perfil .panel {
    width: 65%;
    margin-left: auto;
}

#perfil .panel .card .btn {
    display: flex;
    align-items: center;
    width: 100%;
    color: lightseagreen;
    text-decoration: none;
}

#perfil .panel .plus {
    position: relative;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

#perfil .panel .plus::before,
#perfil .panel .plus::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightseagreen;
}

#perfil .panel .plus::after {
    height: 100%;
    width: 2px;
}

#questionario {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#questionario .carousel-question {
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionario .carousel-question .wrap {
    width: 100%;
}

#questionario .carousel-question h1 {
    margin-bottom: 20px;
    text-align: center;
}

#questionario .carousel-question .jumbotron {
    position: relative;
}

#questionario .carousel-question .jumbotron p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all .25s ease-in-out;
}

#questionario .carousel-question .jumbotron p.active {
    visibility: visible;
    opacity: 1;
}

#questionario .carousel-question .btn {
    margin-top: 40px;
}

#questionario .table tbody i {
    cursor: pointer;
}

#questionario .table tbody i.active,
#questionario .table tbody i.active-click {
    color: gold;
}

#questionario nav {
    margin-bottom: 20px;
}

body a[href] {
    color: lightseagreen;
}